div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $font-heading;
	font-weight: 700;
	color: $color-blue;
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding-left: 0;
		padding-right: 0;
	}
}
.medwrap {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.text-center {
	text-align: center;
}
/* Logo */
.logo {
	display: block;
	width: 200px;
	margin-top: 10px;
    margin-bottom: 15px;
    float: left;
    position: relative;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
		margin-top: 0;
		margin-bottom: 15px;
		text-align: center;
	}
	@media screen and (min-width: $midwidth) {
		width: 30%;
		top: 5px;
		text-align: left;
		margin-bottom: 0;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: #FFF;
		float: left;
		width: 200px;
		@media screen and (min-width: $tabwidth) {
			width: 212px;
			float: none;
		}
		@media screen and (min-width: $midwidth) {
			width: 300px;
			float: left;
		}
	}
	img {
		width: 100%;
		height: auto;
		float: left;
	}
}
.outer-nav-wrap {
	width: 100%;
	position: relative;
	float: left;
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $midwidth) {
		width: 70%;
	}
}
.headtop {
	text-align: left;
	margin-bottom: 0;
	padding: 10px 0 0;
	@media screen and (min-width: $tabwidth) {
		text-align: center;
		padding: 0 0;
		margin-bottom: 12px;
	}
	@media screen and (min-width: $midwidth) {
		text-align: right;
	}
	.col {
		display: inline-block;
		text-align: left;
		position: relative;
		width: 65%;
		float: left;
		@media screen and (min-width: $tabwidth) {
			width: auto;
			float: none;
		}
		&.left {
			top: -4px;
			text-align: left;
			@media screen and (min-width: $tabwidth) {
				width: auto;
				margin-bottom: 13px;
				text-align: right;
			}
			@media screen and (min-width: $midwidth) {
				margin-bottom: 0;
				top: -1px;
			}
		}
		&.right {
			width: 35%;
			@media screen and (min-width: $tabwidth) {
				width: auto;
			}
		}
	}
	.left .info {
		font-size: 13px;
		margin-right: 15px;
		position: relative;
		display: block;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			margin-right: 18px;
			margin-bottom: 0;
			font-size: 14px;
			top: 3px;
		}
		@media screen and (min-width: $midwidth) {
			font-size: 16px;
			margin-bottom: 10px;
		}
		&.toll {
			margin-right: 0;
		}
	}
	.left .info i {
		font-family: $font-heading;
		font-weight: 600;
	}
	.info {
		.desktop {
			display: none;
			@media screen and (min-width: $tabwidth) {
				display: inline-block;
			}
		}
		.mobile {
			color: #FFF;
			text-decoration: none;
			display: inline-block;
			@media screen and (min-width: $tabwidth) {
				display: none;
			}
		}
	}
	.cta-buttons {
		position: relative;
		top: -10px;
		margin-left: 0;
		z-index: 5;
		@media screen and (min-width: $tabwidth) {
			position: static;
			margin-left: 30px;
			top: 10px;
		}
	}
	.cta-buttons a {
		display: block;
		color: #FFF;
		text-decoration: none;
		font-weight: 300;
		text-align: center;
		box-shadow: 0px 3px 4px 0px rgba(16,53,122,.5);
		margin-right: 0;
		margin-bottom: 6px;
		font-size: 3vw;
		@media screen and (min-width: $tabwidth) {
			display: inline-block;
			margin-right: 18px;
			margin-bottom: 0;
			font-size: 15px;
		}
		span {
			padding: 2px 12px;
			display: block;
			box-shadow: inset 0px 2px 1px 0px rgba(170,212,250,.5);
			background: rgb(57,97,174);
			background: -moz-linear-gradient(-45deg, rgba(57,97,174,1) 0%, rgba(79,114,183,1) 22%, rgba(79,114,183,1) 26%, rgba(57,97,174,1) 33%, rgba(57,97,174,1) 40%, rgba(79,114,183,1) 51%, rgba(79,114,183,1) 54%, rgba(57,97,174,1) 70%, rgba(57,97,174,1) 100%);
			background: -webkit-linear-gradient(-45deg, rgba(57,97,174,1) 0%,rgba(79,114,183,1) 22%,rgba(79,114,183,1) 26%,rgba(57,97,174,1) 33%,rgba(57,97,174,1) 40%,rgba(79,114,183,1) 51%,rgba(79,114,183,1) 54%,rgba(57,97,174,1) 70%,rgba(57,97,174,1) 100%);
			background: linear-gradient(135deg, rgba(57,97,174,1) 0%,rgba(79,114,183,1) 22%,rgba(79,114,183,1) 26%,rgba(57,97,174,1) 33%,rgba(57,97,174,1) 40%,rgba(79,114,183,1) 51%,rgba(79,114,183,1) 54%,rgba(57,97,174,1) 70%,rgba(57,97,174,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3961ae', endColorstr='#3961ae',GradientType=1 );
			@include transition(all ease-out .3s);
		}
		&:hover {
			span {
				background: #5276bc;
			}
		}
	}
	.cta-buttons a:last-child {
		margin-right: 0;
	}
}
.site-header {
	background: $color-blue;
	color: #FFF;
	padding: 5px 0 0 0;
	position: relative;
	@media screen and (min-width: $tabwidth) {
		padding: 20px 0;
	}
}
.site-footer {
	width: 100%;
	clear: both;
}